/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background-color: lightgrey;
  }
  
  .container{
    background-color: white;
    color: darkmagenta;
  }
  
  .content{
    padding: 10px;
    background-color: white;
  }
  .content-header{
    padding: 10px;
    padding-bottom: 10px;
    background-color: white;
  }
  .content-img{
    padding: 10px;
    padding-top: 20px;
    background-color: white;
  
  
  .nav{
    background-color: white;
    right: 0px;
   }

   .navbar {
    
    padding: 50px;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    background-color: white;
    }
    .nav-item {
      background-color: white;
        }
      
      /* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
    .nav-header {
      background-color: white;
      padding: 50px;
      }
      
      /* Getting rid of the default link styles here */
    .nav-item {
      background-color: white;
      color: #000;
      
      }
  
  /* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
  
  }
  /* Giving the .post element margin on 3 sides */
  .post {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
  }
  
  #nav-select {
    visibility: hidden;
  }
  
  /* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
  @media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }